<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <form action="/Login" method="get" id="contact">
        <input type="text" name="name" placeholder="Name" id="name">
        <input type="text" name="gender" placeholder="Gender" id="gender">
        <input type="number" name="age" placeholder="Age" id="age">
        <input type="email" name="email" placeholder="email" id="email"> 
        <input type="password" name="password" placeholder="password" id="password">
        <button class="btn">Login</button> </form>
</body>
</html>